[buildout]
develop = .

# buildout options
show-picked-versions = true
newest = false
download-cache = ${buildout:directory}/downloads
log-level = INFO

# conda
# offline: make sure all deps are in environment.yml
conda-offline = true
conda-channels = defaults birdhouse conda-forge
channel-priority = true

## extensions

# use python site-packages
# https://pypi.python.org/pypi/buildout.locallib/
extensions = buildout.locallib

parts =
    pywps
    esmvalwps

[settings]
hostname = localhost
http-port = 8095
https-port = 28095
output-port = 8090
log-level = WARN
prefix = ${environment:HOME}/birdhouse
user =
etc-user =
project = EsmValTool
version = 1.0.1

[environment]
recipe = collective.recipe.environment

[esmvalwps]
recipe = zc.recipe.egg
eggs =
     esmvalwps
interpreter = python

[pywps]
recipe = birdhousebuilder.recipe.pywps
# name of our wps
name = esmvalwps
# conda
channels = defaults birdhouse conda-forge
# deployment options
prefix = ${settings:prefix}
user = ${settings:user}
etc-user = ${settings:etc-user}
# service options
hostname = ${settings:hostname}
http-port = ${settings:http-port}
https-port = ${settings:https-port}
output-port = ${settings:output-port}
loglevel = ${settings:log-level}
workers = 3
worker-class = sync
# wps options
processes-import = esmvalwps.processes
title = ${settings:project}
abstract = WPS processes for ESMValTool.
keywords = WPS, PyWPS, Birdhouse, Python, ESMValTool
provider-name = ${settings:project}
provider-url = http://www.esmvaltool.org/
processes-path = ${buildout:directory}/esmvalwps/processes
maxoperations = 30

[ipython]
recipe = zc.recipe.egg
eggs =
    ipython
    ${esmvalwps:eggs}
entry-points =
   ipython=IPython:start_ipython
scripts =
    ipython=ipython

[pytest]
recipe = zc.recipe.egg
eggs =
    pytest
    ${esmvalwps:eggs}

[sphinx]
recipe = birdhousebuilder.recipe.sphinx
project = ${settings:project}
version = ${settings:version}
src = esmvalwps

[docker]
recipe = birdhousebuilder.recipe.docker
app = esmvalwps
maintainer = http://www.esmvaltool.org/
version = ${settings:version}
#hostname = localhost
#supervisor-port = 9001
#http-port = 8080
#https-port = 8443
#output-port = 8000
