[buildout]

extends = buildout.cfg
#extends = profiles/development.cfg

[settings]
hostname = localhost
http-port = 8095
output-port = 8090
#log-level = WARN

## deployment options
#prefix =  /opt/birdhouse
#user = www-data
#etc-user = root

# esgf archive (CMIP5 DKRZ)
#archive-root = /home/pingu/birdhouse/var/lib/pywps/cache/malleefowl/esgf1.dkrz.de/thredds/fileServer/cmip5



